@model IEnumerable< JobPortal_Data.JobSearcher>

@{
    ViewBag.Title = "Home";
}

<h2>Home</h2>

@foreach (JobPortal_Data.JobSearcher item in (List<JobPortal_Data.JobSearcher>) @Model)
{
    <table cellpadding="10">
        <tr>
            <td>@item.SearcherId</td>
        </tr>
        <tr>
            <td>@item.SearcherFirstName</td>
        </tr>
        <tr>
            <td>@item.SearcherLastName</td>
        </tr>
        <tr>
            <td>@item.SearcherGraduation</td>
        </tr>
        <tr>
            <td>@item.SearcherPhone</td>
        </tr>
    </table>
    
}