
@model IEnumerable<JobPortal_Data.JobSearcher>

@{
    ViewBag.Title = "Home";
}

<h2>Home</h2>
@Html.ActionLink("Add", "Create")
<br />
<table cellpadding="10" border="1">
    <tr>
        <th>SeacherId</th>
        <th>SearcherFN</th>
        <th>SearcherLN</th>
        <th>SearcherPhone</th>
        <th>SearcherGraduation</th>
        <th>Action</th>
    </tr>

    @foreach (JobPortal_Data.JobSearcher item in (List<JobPortal_Data.JobSearcher>)@Model)
    {

<tr>
    <td>@item.SearcherId</td>


    <td>@item.SearcherFirstName</td>

    <td>@item.SearcherLastName</td>
    <td>@item.SearcherPhone</td>

    <td>@item.SearcherGraduation</td>


    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.SearcherId })
        @Html.ActionLink("Delete", "Delete", new { id = item.SearcherId })
    </td>
</tr>



    }
</table>
